</header>
    
<!-- Page Features -->
<div class="row text-center">

    <div class="col-lg-3 col-md-6 mb-4">
        <div class="card h-100">
        <img class="card-img-top" src="http://placehold.it/500x325" alt="">
        <div class="card-body">
            <h4 class="card-title">Card title</h4>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente esse necessitatibus neque.</p>
        </div>
        <div class="card-footer">
            <a href="#" class="btn btn-primary">Find Out More!</a>
        </div>
        </div>
    </div>

    <div class="col-lg-3 col-md-6 mb-4">
        <div class="card h-100">
        <img class="card-img-top" src="http://placehold.it/500x325" alt="">
        <div class="card-body">
            <h4 class="card-title">Card title</h4>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo magni sapiente, tempore debitis beatae culpa natus architecto.</p>
        </div>
        <div class="card-footer">
            <a href="#" class="btn btn-primary">Find Out More!</a>
        </div>
        </div>
    </div>

    <div class="col-lg-3 col-md-6 mb-4">
        <div class="card h-100">
        <img class="card-img-top" src="http://placehold.it/500x325" alt="">
        <div class="card-body">
            <h4 class="card-title">Card title</h4>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente esse necessitatibus neque.</p>
        </div>
        <div class="card-footer">
            <a href="#" class="btn btn-primary">Find Out More!</a>
        </div>
        </div>
    </div>

    <div class="col-lg-3 col-md-6 mb-4">
        <div class="card h-100">
        <img class="card-img-top" src="http://placehold.it/500x325" alt="">
        <div class="card-body">
            <h4 class="card-title">Card title</h4>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo magni sapiente, tempore debitis beatae culpa natus architecto.</p>
        </div>
        <div class="card-footer">
            <a href="#" class="btn btn-primary">Find Out More!</a>
        </div>
        </div>
    </div>

</div>
    <!-- /.row -->

</div>
<!-- /.container -->
        
      
      </div>
        </div>
        <script src="/../vendor/jquery/jquery.min.js"></script>
        <script src="/../vendor/bootstrap/js/bootstrap.bundle.min.js"></script>


        <script type="text/javascript" src="/../js/main.js"></script>
        <script src="/../vendor/jquery/jquery-3.2.1.min.js"></script>
        <script src="/../vendor/bootstrap/js/popper.js"></script>
        <script src="/../vendor/bootstrap/js/bootstrap.min.js"></script>
	    <script src="/../vendor/select2/select2.min.js"></script>
	    <script src="/../vendor/perfect-scrollbar/perfect-scrollbar.min.js"></script>
	    <script>
		$('.js-pscroll').each(function(){
			var ps = new PerfectScrollbar(this);

			$(window).on('resize', function(){
				ps.update();
			})
		});
			
		
	    </script>

    </body>
</html>
