<%- include layouts/header.ejs %>

        <div class="page-data">

            <div class="row">
                <div class="col-sm-3">
                    <select class="form-control">
                    <option value="">Red</option>
                    <option value="">Green</option>
                    <option value="">Gold</option>
                    <option value="">Blue</option>
                    </select>
                </div>
            </div>
            
            <form method="post" action="/surveys/save">
                <table cellpadding="11">
                <tr>
                    <td class="label">Line</td><td>: <input type="text" name="line" required></td>
                 </tr>
                 <tr>
                    <td class="label">Station</td><td>: <input type="text" name="station" required></td>
                </tr>
                <tr>
                    <td class="label">Name</td><td>: <input type="text" name="auditor" required></td>
                </tr>
                <tr>
                    <td class="label">Result</td><td>: <input type="text" name="result" required></td>
                </tr>
                <tr>
                    <td class="label" valign="top">Remarks</td><td valign="top">: <textarea name="remarks" required cols="30" rows="5"></textarea></td>
                </tr>
                <tr>
                    <td class="label">Status</td><td>: <input type="text" name="status" required></td>
                </tr>
                <tr>
                    <td class="label"></td>
                    <td>
                        &nbsp; <input type="submit" name="submit" value="Save">
                       <input type="button" name="cancel" value="Cancel" class="cancel" onClick="cancelAdd()">
                    </td>
                </tr>
                </table>
            </form>
            
        </div>
        
<%- include layouts/footer.ejs %>
