<head>
        <link href="/../css/login.css" rel="stylesheet">
        <script type="text/javascript" src="/../js/all.js"></script>
</head>


<div class="wrapper fadeInDown">
    <div id="formContent">
        <!-- Tabs Titles -->
    
        <!-- Icon -->
        <div class="fadeIn first">
        <img src="/../images/logo.jpg" id="icon" alt="User Icon" />
        </div>
    
        <!-- Login Form -->
        <form method="post" action="/validate_user">

            <input type="text" id="login" class="fadeIn second" name="uname" placeholder="Username">

            <input type="password" id="password" class="fadeIn third" name="upass" placeholder="Password">

            <input type="submit" class="fadeIn fourth" value="Log In">
        </form>
    
        <!-- Remind Passowrd -->
        <div id="formFooter">
        <a class="underlineHover" href="#">Forgot Password?</a>
        </div>
    
    </div>
</div>